<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1" />
        <title>{% block title %}EasyFast{% endblock %}</title>
        {% block stylesheets %}
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/easyfast/fonts/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/easyfast/css/animate.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/easyfast/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="slider-collapse">
        <div id="site-content">
            <header class="site-header wow fadeInDown">
                <div class="container">
                    {% block header %}
                        <div class="header-content">
                            <div class="branding">
                                <img src="{{ asset('bundles/easyfast/images/logo.png') }}" alt="Company Name" class="logo">
                                <h1 class="site-title"><a href="{{ path('easyfast_home') }}">EasyFast</a></h1>
                                <small class="site-description">Taxis Motos Paris</small>
                            </div>

                            <nav class="main-navigation">
                                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                                <ul class="menu">
                                    <li class="menu-item"><a href="about-us.html">Présentation</a></li>
                                    <li class="menu-item"><a href="our-offer.html">Nos prestations</a></li>
                                    <li class="menu-item"><a href="{{ path('easyfast_tarifs') }}">Nos tarifs</a></li>
                                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>

                            <div class="sign-in social-links">
                                <button id="register" class="button">Inscription</button>
                                <button id="signin" class="button">Connexion</button>
                            </div>
                        </div>
                    {% endblock %}
                    {% block breadcrumb %}{% endblock %}
                </div>
            </header><!-- .site-header -->

        {% block content %} {% endblock %} <!-- .site-content -->

        {% block footer %}
            <footer class="site-footer wow fadeInUp">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">About us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus animi asperiores magnam ducimus laboriosam soluta, odio doloribus, voluptas numquam facilis consectetur nam in repudiandae commodi odit iste sed doloremque repellat.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">Helpful Links</h3>
                                    <ul class="list-arrow">
                                        <li><a href="#">Labore et dolore magnam</a></li>
                                        <li><a href="#">Dolore magnam</a></li>
                                        <li><a href="#">Magnam Labore et</a></li>
                                        <li><a href="#">Dolore mabore magnam</a></li>
                                        <li><a href="#">Et dolore magnam</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">Helpful Links</h3>
                                    <ul class="list-arrow">
                                        <li><a href="#">Labore et dolore magnam</a></li>
                                        <li><a href="#">Dolore magnam</a></li>
                                        <li><a href="#">Magnam Labore et</a></li>
                                        <li><a href="#">Dolore mabore magnam</a></li>
                                        <li><a href="#">Et dolore magnam</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget widget-customer-info">
                                    <h3 class="widget-title">Customer Service</h3>
                                    <img src="dummy/footer-customer-service.jpg" alt="" class="pull-left">
                                    <div class="cs-info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates pariatur vero.</p>
                                        <p>+1 421 458 321 <br> <a href="mailto:cs@companyname.com">cs@companyname.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="branding pull-left">
                            <img src="images/logo-footer.png" alt="Company Name" class="logo">
                            <h1 class="site-title"><a href="index.html">Company Name</a></h1>
                            <small class="site-description">Tagline goes here</small>
                        </div>

                        <div class="contact-links pull-right">
                            <a href="https://goo.gl/maps/oQKxg"><i class="fa fa-map-marker"></i> 983 Avenue Street, New York</a>
                            <a href="tel:+134453455345"><i class="fa fa-phone"></i> +1 344 5345 5345</a>
                            <a href="mailto:contact@companyname.com"><i class="fa fa-envelope"></i> contact@companyname.com</a>
                        </div>
                    </div>
                </div>
                <div class="colophon">
                    <div class="container">
                        <p class="copy">Copyright &copy; 2016 EasyFast, Tous droits réservés.</p>
                    </div>
                </div>
            </footer>
        {% endblock %} <!-- .site-footer -->
        </div>
        {% block javascripts %}
            <!--[if lt IE 9]>
            <script src="{{ asset('bundles/easyfast/js/ie-support/html5.js') }}"></script>
            <script src="{{ asset('bundles/easyfast/js/ie-support/respond.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('bundles/easyfast/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/easyfast/js/plugins-min.js') }}"></script>
            <script src="{{ asset('bundles/easyfast/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
